<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Provinces</title>
</head>
<body>
<a href="/blog/create-blog">Create new province</a>
<h1>Provinces</h1>
<table border="1">
    <tr>
        <th>NameBlog</th>
        <th>Category</th>
        <th>Date</th>
    </tr>
    <th:block th:each="blog : ${blog}">
        <tr>
            <td th:text="${blog.nameBlog}"></td>
            <td th:text="${blog.category.nameCategory}"></td>
            <td th:text="${blog.date}"></td>
            <td><a th:href="@{/blog/edit/__${blog.id}__}">Edit</a></td>
        </tr>

    </th:block>
    <tr>

    </tr>
</table>
</body>
</html>